@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap');

.input{
    margin: 15px;
    margin-right: 1px;
    margin-left: 51rem;
    font-size: 1.4rem;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.buttonSubmit{
    font-size: 1.6rem;
    background-color: rgb(197, 136, 86);
    color: rgb(54, 37, 24);
    border: 1px;
    border-radius: 5px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.buttonSubmit:hover{
    background-color: rgb(240, 191, 151);
}