
/* @import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap');

.c{
    display: flex;
    flex-direction: row;
}

.backgroundImage {
    background-image: linear-gradient(to top, #353434 0%, #000000 100%);
    width: 40%;
    margin-left: 40.1%;
    padding-left: 210.5px;
    padding-right: 61.5px;
    background-color: rgb(0, 0, 0);
    position : absolute;
    background-repeat:no-repeat;
    background-position-x:left;
    background-position-y:center;
    padding-top: 115px;
    padding-bottom: 30.1px;
}

.container {
    padding-top: 285px;
    padding-bottom: 73px;
    color: rgb(197, 136, 86);
    /* background-color: rgb(185, 60, 60); */
    background-image: linear-gradient(to top, #353434 0%, #000000 100%);
    width: 50%;
    padding-left: 12%;
    font-size: 2rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}


.title{
    color: rgb(240, 191, 151);
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.buttonHome {
    font-size: 2rem;
    color: rgb(54, 37, 24);
    background-color:rgb(197, 136, 86);
    border: 1px;
    border-radius: 5px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.buttonHome:hover{
    background-color: rgb(240, 191, 151);
}