@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap');


.containerForm{
  background-color: #efefef;
  padding: 3rem;
  line-height: 45px;
  font-size: 1.5rem;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.containerBtnHome{
  text-align: center;
}

.divForm{
  border-radius: 5px;
  background-image: linear-gradient(to top, rgb(208, 158, 121) 0%, rgb(197, 136, 86) 100%);
  box-shadow: 15px 15px 15px rgb(130, 130, 130);
  margin-left: 20%;
  margin-right: 20%;
}

h4{
  margin-bottom: -5px;
}

.divForm{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btnS{
  /* button submit */
    font-size:1.5rem;
    background-color: rgb(197, 136, 86);
    border: solid 1px;
    border-color: rgb(54, 37, 24);
    box-shadow: 5px 5px 15px rgb(37, 19, 5);
    color: rgb(54, 37, 24);
    border-radius: 5px;
    margin: 15px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.btnS:hover{
  background-color: #efefef;
  color: rgb(54, 37, 24);
}

h6.danger {
    color: rgb(119, 1, 1);
    font-size: 1.1rem;
    margin-top: 3px;
    margin-bottom: 6px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
  }
  
input.danger {
  font-size: 1.2rem;
   border: 2px solid rgb(116, 3, 3);;
   font-family: 'Yanone Kaffeesatz', sans-serif;
}

.delete{
  font-size: 1.2rem;
  background-color: rgb(152, 17, 17);
  font-family: 'Yanone Kaffeesatz', sans-serif;
  border-radius: 4px;
  border: solid 1.2px;
  height: 25px;
  width: 25px;
}
.delete:hover{
  border-color: black;
  background-color: #efefef;
  color: rgb(0, 0, 0);
}

.temp{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 15px;
}

.btnT{
  margin: 10px;
  background-color: rgb(197, 136, 86);
  box-shadow: 5px 5px 15px rgb(37, 19, 5);
  color: rgb(54, 37, 24);
  border-radius: 5px;
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
}
.inputStyle{
  border-radius: 5px;
  font-size: 1.1rem;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}