@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap');

.inputTemper{
    font-size: 1.6rem;
    border-radius: 5px;
    margin: 1px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}