@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap');

.pageView{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.buttons{
    flex-direction: row;
    font-size:1.6rem;
    background-color: rgb(197, 136, 86);
    color: rgb(54, 37, 24);
    border: 1px;
    border-radius: 5px;
    margin: 5px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.btnContainer{
    display: flex;
    justify-content: center;
}

.notFound{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding: 5rem;
    margin-bottom: -50px;
    
}

.img{
    justify-content: center;
    margin-left: 25rem;
    margin-right: 25rem;
    display: flex;
}

.imgDog{
    width: 20rem;
    height: 20rem;
    padding: 1rem;
}

.containerNF{
    padding-bottom: 80px;
    width: 100%;
    height: 100%;
}

.btn{
    font-size: 1.1rem;
    background-color: rgb(197, 136, 86);
    color: rgb(54, 37, 24);
    border: 1px;
    border-radius: 5px;
    margin: 5px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
 
}
.buttons:hover{
    background-color: rgb(240, 191, 151);
}
