.navStyle{
    padding: 10px;
    background-color:rgb(255, 182, 109);
    display: flex;
    justify-content: space-around;
}

.searchBar {
    align-self: flex-end;
    border: 2px solid gray;
    border-radius: 3px;
}

.toLanding {
    font-size: 1rem;
    background-color:slategrey;
    border-radius: 3px;
}