.navStyle{
    padding: 10px;
    background-color:rgb(103, 55, 16);
    display: flex;
    justify-content: flex-start;
}

.toLanding {
    font-size:1.1rem;
    background-color: rgb(176, 176, 176);
    border: 1px;
    border-radius: 10px;
    margin: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
